
@import url('https://fonts.googleapis.com/css?family=Catamaran');
html {
    height: 100%;
}
body {
  height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: repeating-linear-gradient(to left, #5bd3c5, #1e9e8f);
}
