
@import url('https://fonts.googleapis.com/css?family=Catamaran');
body {
  z-index: 1;
}
.title {
  font-weight: 900;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content:flex-end;
  margin-right: 1%;
}
.tour-content {
    margin-top: 14%;
    text-align: center;
    /*transform: translate(830px,150px);*/
    height: 50%;
    overflow:auto;
    text-align: left;
    word-wrap: break-word;
    position: absolute;
    background-color: #cccccc;
    z-index: 1;
    width: 30%;
    border-radius: 3%;
    transition: .5s;
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,2);
}
.tour-content:hover {
  box-shadow: 0px 12px 40px 0px rgba(0,0,0,2);
}
.tour-content div {
    color: black;
    padding: 12px 12px;
    margin-right: 2%;
    display: block;
    font-family: 'Catamaran', sans-serif;
    transition: .1s;
    font-size: 17px;
}
.tour-content div:hover {
  box-shadow: 0px 8px 26px 0px black;
}
.leadTime {
  font-family: 'Catamaran', sans-serif;
  transform: translate(490px,400px);
  letter-spacing: .5px;
  color: white;
  width: 20%;
  font-family: 'Catamaran', sans-serif;
}
